<!-- @if (!viewportServiceService.isMobile()) {
  <button
    mat-fab
    color="accent"
    class="add-expense-button"
    (click)="openAddExpenseModal()"
    id="add"
  >
    <mat-icon>add</mat-icon>
  </button>
} -->

@if (viewportServiceService.isMobile()) {
  <button
    mat-raised-button
    color="accent"
    class="add-expense-mobile"
    (click)="openAddExpenseModal()"
  >
    <mat-icon>add</mat-icon>
    Add expense
  </button>
}

@if (!viewportServiceService.isMobile()) {
  <div class="expense-table-header">
    <div class="expense-table-header-info">
      <h2>Expense Table</h2>
      <p>Here's your expense overview:</p>
    </div>

    <app-button
      label="Add Expense"
      buttonClass="add-expense-button"
      typeBtn="button"
      (click)="openAddExpenseModal()"
    ></app-button>
  </div>

  <section class="expense-table-wrapper">
    <table
      class="expense-table"
      mat-table
      [dataSource]="dataSource"
      matSort
      #sort="matSort"
    >
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td class="text-truncate" mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="category-cell"
            [style.color]="element.category | categoryColor"
          >
            <mat-icon>{{ element.category | categoryIcon }}</mat-icon>
            {{ element.category | categoryLabel }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | timestampToDate | date: "dd.MM.yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | timestampToDate | date: "dd.MM.yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Settings</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openEditExpenseModal(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="openDeleteExpenseModal(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="length()"
      [pageSize]="pageSize()"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageNumber() - 1"
      aria-label="Select page"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </section>
}
@if (viewportServiceService.isMobile()) {
  <section class="expense-cards-wrapper">
    @for (expense of paginatedCards(); track $index) {
      <mat-card class="expense-card-item">
        <div class="expense-card-item-info">
          <p>
            {{ expense.description ? expense.description : "No description" }}
          </p>
          <p>{{ expense.amount }}</p>
          <span class="category-cell">
            <mat-icon>{{ expense.category | categoryIcon }}</mat-icon>
            {{ expense.category | categoryLabel }}
          </span>
          <p>{{ expense.paymentMethod }}</p>
          <p>{{ expense.date | timestampToDate | date: "dd.MM.yyyy" }}</p>
        </div>
        <div class="expense-card-item-actions">
          <button mat-icon-button (click)="openDeleteExpenseModal(expense.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="openEditExpenseModal(expense)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card>
    }
  </section>
  <mat-paginator
    #paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize()"
    [length]="length()"
    aria-label="Select page of expenses"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
}
