.add-expense-button {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 100;
}

.text-truncate {
  max-width: 200px;
}

.expense-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.expense-table-header-info {
  display: flex;
  flex-direction: column;

  h2,
  p {
    margin: 0;
  }
}

.expense-table-wrapper {
  margin: 1rem;
  overflow: auto;
  border-radius: 12px;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.expense-cards-wrapper {
  margin: 1rem;
}

.expense-card-item {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
  margin-bottom: 1rem;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &-info {
    >p {
      margin: 0.5rem 0;
    }

    display: flex;
    flex-direction: column;
  }

  &-actions {
    display: flex;
    gap: 0.5rem;
  }
}

.add-expense-mobile {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 56px;

  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;

  z-index: 1000;

  box-shadow: 0 -4px 12px rgba(0, 0, 0, .15);
}