.add-expense-modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem 0 2rem;
  box-sizing: border-box;
}

.add-expense-modal__content {
  display: flex;
  flex-direction: column;
}

.confirmation-modal__hint {
  margin: 1rem 0 0.75rem;
  font-weight: 600;
}

.confirmation-modal__field {
  width: 100%;
  margin-top: 0.25rem;
}

.add-expense-modal__actions {
  display: flex;
  justify-content: flex-end;
}
