<div class="layout">
  @if (!viewportServiceService.isMobile()) {
    <aside class="layout-sidebar">
      <app-sidebar />
    </aside>
  }

  <main class="layout-content">
    <app-header (menuClick)="toggleMobileSidebar()"></app-header>
    @if (viewportServiceService.isMobile()) {
      <div
        class="backdrop"
        [class.open]="mobileSidebarOpen"
        (click)="closeMobileSidebar()"
      ></div>

      <aside class="mobile-drawer" [class.open]="mobileSidebarOpen">
        <app-sidebar (click)="closeMobileSidebar()"></app-sidebar>
      </aside>
    }

    <section class="layout-body">
      <router-outlet></router-outlet>
    </section>

    <!-- <app-footer></app-footer> -->
  </main>
</div>
