<div class="add-expense-modal__header">
  <h3>{{ dialogData.isEdit ? "Edit expense" : "Add new expense" }}</h3>
  <button matIconButton (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form class="add-expense-modal__content">
    <mat-form-field appearance="outline" class="">
      <mat-label>
        <span>Amount</span>
      </mat-label>
      <input
        matInput
        [formField]="expenseForm.amount"
        placeholder="Enter amount"
        type="tel"
      />
      <mat-error>
        @for (error of expenseForm.amount().errors(); track $index) {
          <span>{{ error.message }}</span>
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose category</mat-label>
      <mat-select
        [formField]="expenseForm.category"
        placeholder="Select category"
      >
        @for (category of categories(); track category.id) {
          <mat-option [value]="category.id">{{ category.label }}</mat-option>
        }
      </mat-select>
      <mat-error>
        @for (error of expenseForm.category().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Expense date</mat-label>
      <input
        [formField]="expenseForm.expenseDate"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="">
      <mat-label>
        <span>Description</span>
      </mat-label>
      <textarea
        matInput
        [formField]="expenseForm.description"
        placeholder="Enter description"
      ></textarea>

      <mat-error>
        @for (error of expenseForm.description().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      </mat-error>
    </mat-form-field>

    <div class="add-expense-modal__actions">
      <app-button
        [appearance]="'tonal'"
        [label]="dialogData.isEdit ? 'Save' : 'Add'"
        typeBtn="button"
        (clicked)="addExpense()"
        id="save"
        [disabled]="expenseForm().invalid()"
      ></app-button>
    </div>
  </form>
</mat-dialog-content>
