// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'styles/theme/palettes' as palettes;
@use 'styles/theme/function' as function;

html {
  @include mat.theme((color: (theme-type: light,
        primary: palettes.$primary-palette,
        tertiary: palettes.$tertiary-palette,
      ),
      typography: Roboto Mono,
      density: -2,
    ));
}

.dark_mode {
  @include mat.theme((color: (theme-type: dark,
        primary: palettes.$primary-palette,
        tertiary: palettes.$secondary-palette,
      ),
    ));
}

body {
  margin: 0;
  transition: background-color 0.3s ease;
  font-family: Roboto Mono, "Helvetica Neue", sans-serif;
  color: #1a2136;
  background: #F8F9FA;
}

body.dark_mode {
  background: #1a2136;
  color: #d9c85e;
}